*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #cc5d2e;
    --font-size: 16px;
    --padding: 10px;
}

html{
    overflow-x: hidden;
}

body {
    font-size: var(--font-size, 14px); /* --font-size mavjud bo'lmasa, 14px qo'llanadi */
    color: var(--primary-color, black); /* --primary-color mavjud bo'lmasa, black qo'llanadi */
}

button.first,
button.secondary {
    background-color: var(--primary-color);
    --first-color: yellow;
    color: var(--first-color);
    padding: var(--padding);
}

.border{
    border: none;
}
